<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted">© {% now 'Y'%} 7nota.kz</span>
    </div>

    <div class="col-md-4 d-flex align-items-center">
      <span style="display:none"><!--LiveInternet counter--><a href="https://www.liveinternet.ru/click"
        target="_blank"><img id="licntACC3" width="88" height="31" style="border:0" 
        title="LiveInternet: number of pageviews for 24 hours, of visitors for 24 hours and for today is shown"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
        alt=""/></a><script>(function(d,s){d.getElementById("licntACC3").src=
        "https://counter.yadro.ru/hit?t20.6;r"+escape(d.referrer)+
        ((typeof(s)=="undefined")?"":";s"+s.width+"*"+s.height+"*"+
        (s.colorDepth?s.colorDepth:s.pixelDepth))+";u"+escape(d.URL)+
        ";h"+escape(d.title.substring(0,150))+";"+Math.random()})
        (document,screen)</script><!--/LiveInternet--></span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="https://www.youtube.com/channel/UCQ_qth6WVg25SiV-spPJHLA"><svg class="bi" width="24" height="24"><use xlink:href="#youtube"></use></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="https://instagram.com/7nota.kz"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="https://wa.me/77752399993"><svg class="bi" width="24" height="24"><use xlink:href="#whatsapp"></use></svg></a></li>
    </ul>
  </footer>
</div>
