{% extends "base.html" %}
{% load static %}

{% block title %}
{{ page_title }}
{% endblock %}

{% block extra_head %}
<meta name="description" content="Қазақша әндер {{ poet }}, {% for obj in objects %}{{ obj.singer.group_or_person.name }} {{ obj.name}}, {% endfor %}" />
<meta name="keywords" content="{{ poet }}, {% for obj in objects %}{{ obj.singer.group_or_person.name }} {{ obj.name}}, {% endfor %}" />
{% endblock extra_head %}

{% block content %}
<div class="container">
   <div class="row justify-content-center">
      <div class="col-lg-6">
         <div class="card" style="margin: 1rem 0;">
            <img src="{{ poet.img.url }}" class="card-img-top" alt="{{ poet.full_name_slug }}" ></img>
            <div class="card-body text-center">
               <h3>{{ poet }}</h3>
            </div>
         </div>
      </div>  
   </div>
</div>
<div class="container">
   <div class="row" >
      {% for audio in objects %}
      <div class="col-lg-4">
         {% include 'home/player_layout.html' %}
      </div>
      {% endfor %}
   </div>
</div>

{% endblock %}
